---
import { Image } from "astro:assets";
import team from "../../assets/images/team.webp";
import "./form.css";
---

<section id="contact-569">
  <div class="cs-container">
    <div class="cs-left">
      <div class="cs-content">
        <span class="cs-topper">KONTAKT</span>
        <h2 class="cs-title">Masz pytania? Piłka jest po Twojej stronie!</h2>
        <p class="cs-text">
          Masz pytania lub chcesz zapisać swoje dziecko na zajęcia? Skontaktuj się z nami
          już dziś! Jesteśmy do Twojej dyspozycji pod numerem telefonu, e-mailem lub
          poprzez formularz kontaktowy poniżej.
        </p>
      </div>
      <!--Form-->
      <form
        class="cs-form"
        id="cs-form-569"
        name="Contact Form"
        action="https://api.web3forms.com/submit"
        method="POST"
      >
        <input
          type="hidden"
          name="access_key"
          value="eb87ca39-5032-4242-87e8-05f25c6953d8"
        />
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />
        <input type="hidden" name="redirect" value="/formularz-wyslany-potwierdzenie" />

        <div class="cs-label">
          <label for="name-569" class="cs-name"> Imię </label>
          <input
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="Imię"
            placeholder="np. Krzysztof"
            autocomplete="given-name"
          />
          <!-- <strong>error msg</strong> -->
        </div>

        <div class="cs-label">
          <label for="name-570" class="cs-lastname"> Nazwisko </label>
          <input
            class="cs-input"
            required
            type="text"
            id="name-570"
            name="Nazwisko"
            placeholder="np. Iwanowski"
            autocomplete="family-name"
          />
          <!-- <strong>error msg</strong> -->
        </div>

        <div class="cs-label">
          <label for="phone-571" class="cs-phone"> Telefon </label>
          <input
            class="cs-input"
            required
            type="tel"
            id="phone-571"
            name="Telefon"
            placeholder="np. 633 456 789"
            autocomplete="tel"
          />
          <!-- <strong>error msg</strong> -->
        </div>
        <div class="cs-label">
          <label for="email-573" class="cs-email"> E-mail </label>
          <input
            class="cs-input"
            required
            type="email"
            id="email-573"
            name="E-mail"
            placeholder="np. kontaktsportus@gmail"
            autocomplete="email"
          />
          <input
            type="hidden"
            name="subject"
            value="Zapytanie z formularza kontaktowego - Sportus"
          />
          <!-- <strong>error msg</strong> -->
        </div>

        <div class="cs-label cs-span-2">
          <label for="message-574" class="cs-message"> Wiadomość </label>
          <textarea
            class="cs-input cs-textarea"
            required
            name="Wiadomość"
            id="message-574"
            placeholder="Twoja wiadomość..."></textarea>
          <!-- <strong>error msg</strong> -->
        </div>

        <div class="cs-label cs-span-2 cs-policy">
          <label for="agreement">
            Zgadzam się na przetwarzanie moich danych osobowych zgodnie z
            <a
              href="https://zajecia-dla-dzieci-sportus.netlify.app/formularz-wyslany-potwierdzenie"
              >polityką prywatności</a
            >
          </label>
          <input
            class="cs-checkbox"
            type="checkbox"
            id="agreement"
            name="Polityka prywatności"
            required
          />
        </div>

        <button class="cs-submit" type="submit">Wyslij wiadomość</button>
      </form>
    </div>

    <div class="cs-right">
      <Image
        src={team}
        alt="group of kids with a trainer listening to his speech"
        width="500"
        height="300"
      />
      <!--Address-->
      <div class="cs-flex">
        <span class="cs-header">Gdzie nas znajdziesz</span>
        <p>Gdańsk, Gdynia, Sopot, woj. pomorskie, Kaszuby</p>
      </div>
      <!--Contacts-->
      <div class="cs-flex">
        <span class="cs-header">Kontakt</span>
        <a href="mailto:kontakt.sportus@gmail.com" class="cs-link"
          >kontakt.sportus@gmail.com</a
        >
        <a href="tel:+48 609-385-361" class="cs-link cs-phone">+48 609-385-361</a>
      </div>
      <!--Social-->
    </div>
  </div>

  <script>
    const isPhoneValid = (phone: string): boolean => {
      const phoneRegex = /^\d{9}$/;
      return phoneRegex.test(phone);
    };

    const phoneInput = document.getElementById("phone-571") as HTMLInputElement;
    const errorElement = document.createElement("strong");

    phoneInput.addEventListener("blur", () => {
      if (!phoneInput.value) return;

      const errorMsg = isPhoneValid(phoneInput.value)
        ? ""
        : "Proszę wprowadzić poprawny numer telefonu (9 cyfr)";

      errorElement.classList.add("error");
      errorElement.textContent = errorMsg;

      if (errorMsg) {
        phoneInput.insertAdjacentElement("afterend", errorElement);
        phoneInput.classList.add("error");
      } else {
        phoneInput.classList.remove("error");
      }
    });

    phoneInput.addEventListener("input", () => {
      if (phoneInput.classList.contains("error")) {
        phoneInput.classList.remove("error");
        errorElement.remove();
      }
    });
  </script>

  <!-- TODO: find kevin powell input solution not to cause layput shift  -->
</section>
