---
import { Image } from "astro:assets";
import team from "../../assets/images/team.webp";
import "./form.css";

// get url using vite env var
const currentPath = Astro.url.pathname;
console.log(currentPath);
console.log(import.meta.env.BASE_URL);
---

<section id="contact-569">
  <div class="cs-container">
    <div class="cs-left">
      <div class="cs-content">
        <span class="cs-topper">KONTAKT</span>
        <h2 class="cs-title">Masz pytania? Piłka jest po Twojej stronie!</h2>
        <p class="cs-text">
          Masz pytania lub chcesz zapisać swoje dziecko na zajęcia? Skontaktuj się z nami
          już dziś! Jesteśmy do Twojej dyspozycji pod numerem telefonu, e-mailem lub
          poprzez formularz kontaktowy poniżej.
        </p>
      </div>
      <!--Form-->
      <form
        class="cs-form"
        id="cs-form-569"
        name="Contact Form"
        action="https://api.web3forms.com/submit"
        method="POST"
      >
        <input
          type="hidden"
          name="access_key"
          value="eb87ca39-5032-4242-87e8-05f25c6953d8"
        />
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />
        <!--  TODO set default url in config file -->
        <input
          type="hidden"
          name="redirect"
          value="zajecia-dla-dzieci-sportus.netlify.app/formularz-wyslany-potwierdzenie"
        />
        <label for="name-569" class="cs-label">
          Imię
          <input
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="name"
            placeholder="np. Krzysztof"
            autocomplete="given-name"
          />
        </label>
        <label for="name-570" class="cs-label">
          Nazwisko
          <input
            class="cs-input"
            required
            type="text"
            id="name-570"
            name="lastname"
            placeholder="np. Iwanowski"
            autocomplete="family-name"
          />
        </label>
        <label for="phone-571" class="cs-label">
          Telefon
          <input
            class="cs-input"
            required
            type="tel"
            id="phone-571"
            name="phone"
            placeholder="np. +48 123 456 789"
            autocomplete="tel"
          />
        </label>
        <label for="email-573" class="cs-label">
          E-mail
          <input
            class="cs-input"
            required
            type="email"
            id="email-573"
            name="email"
            placeholder="np. kontaktsportus@gmail"
            autocomplete="email"
          />
          <input
            type="hidden"
            name="subject"
            value="Zapytanie ogólne z formularza kontaktowego - Sportus"
          />
        </label>
        <label for="message-574" class="cs-label cs-message">
          Wiadomość
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-574"
            placeholder="Twoja wiadomość..."></textarea>
        </label>
        <div class="cs-form-agreement">
          <input type="checkbox" id="agreement" name="agreement" required />
          <label for="agreement"
            >Zgadzam się na przetwarzanie moich danych osobowych zgodnie z <a
              href="/polityka-prywatnosci">polityką prywatności</a
            >.</label
          >
        </div>
        <button class="cs-submit" type="submit">Wyslij wiadomość</button>
      </form>
    </div>
    <div class="cs-right">
      <Image
        src={team}
        alt="group of kids with a trainer listening to his speech"
        width="500"
        height="300"
      />
      <!--Address-->
      <div class="cs-flex">
        <span class="cs-header">Gdzie nas znajdziesz</span>
        <p>Gdańsk, Gdynia, Sopot, woj. pomorskie, Kaszuby</p>
      </div>
      <!--Contacts-->
      <div class="cs-flex">
        <span class="cs-header">Kontakt</span>
        <a href="mailto:kontakt.sportus@gmail.com" class="cs-link"
          >kontakt.sportus@gmail.com</a
        >
        <a href="tel:+48 609-385-361" class="cs-link cs-phone">+48 609-385-361</a>
      </div>
      <!--Social-->
    </div>
  </div>
</section>
