---
import "./form.css";
---

<section id="contact-569">
  <div class="cs-container">
    <div class="cs-left">
      <div class="cs-content">
        <span class="cs-topper">Napisz do nas</span>
        <h2 class="cs-title">??</h2>
        <p class="cs-text">
          Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo eget
          magna fermentum iaculis eu non
        </p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-569" name="Contact Form" method="post">
        <label class="cs-label">
          Imie
          <input
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="name"
            placeholder="Imie"
          />
        </label>
        <label class="cs-label">
          Nazwisko
          <input
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="lastname"
            placeholder="Nazwisko"
          />
        </label>
        <label class="cs-label">
          Telefon
          <input
            class="cs-input"
            required
            type="text"
            id="phone-569"
            name="phone"
            placeholder="Telefon"
          />
        </label>
        <label class="cs-label">
          Email
          <input
            class="cs-input"
            required
            type="text"
            id="email-569"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="cs-label cs-message">
          Wiadomość
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-569"
            placeholder="Twoja wiadomość..."></textarea>
        </label>
        <button class="cs-submit" type="submit">Wyslij</button>
      </form>
    </div>
    <div class="cs-right">
       Obrazek tu
      <!--Address-->
      <div class="cs-flex">
        <span class="cs-header">Gdzie nas znajdziesz</span>
        <a href="" class="cs-link">123 Fake Mill Creek<br /> Bark, USA 98082</a>
      </div>
      <!--Contacts-->
      <div class="cs-flex">
        <span class="cs-header">Email</span>
        <a href="" class="cs-link">info@email.com</a>
        <a href="tel:555-689-9566" class="cs-link cs-phone">+1 (555) 686-9566</a>
      </div>
      <!--Social-->
    </div>
  </div>
</section>
