---
import { Image } from "astro:assets";
import team from "../../assets/images/team.webp";
import "./form.css";
---

<section id="contact-569">
  <div class="cs-container">
    <div class="cs-left">
      <div class="cs-content">
        <span class="cs-topper">KONTAKT</span>
        <h2 class="cs-title">Masz pytania? Piłka jest po Twojej stronie!</h2>
        <p class="cs-text">
          Masz pytania lub chcesz zapisać swoje dziecko na zajęcia? Skontaktuj się z nami
          już dziś! Jesteśmy do Twojej dyspozycji pod numerem telefonu, e-mailem lub
          poprzez formularz kontaktowy poniżej.
        </p>
      </div>
      <!--Form-->
      <form
        name="Formularz kontaktowy"
        class="cs-form"
        id="cs-form-569"
        action="https://api.web3forms.com/submit"
        method="POST"
      >
        <input
          type="hidden"
          name="access_key"
          value="eb87ca39-5032-4242-87e8-05f25c6953d8"
        />
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />
        <input
          type="hidden"
          name="redirect"
          value="https://zajecia-dla-dzieci-sportus.netlify.app/formularz-wyslany-potwierdzenie"
        />

        <div class="cs-label">
          <label for="name-569" class="cs-name"> Imię </label>
          <input
            pattern="^[a-zA-Z]+$"
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="Imię"
            placeholder="np. Krzysztof"
            autocomplete="given-name"
          />
          <span></span>
        </div>

        <div class="cs-label">
          <label for="name-570" class="cs-lastname"> Nazwisko </label>
          <input
            pattern="^[a-zA-Z]+$"
            class="cs-input"
            required
            type="text"
            id="name-570"
            name="Nazwisko"
            placeholder="np. Iwanowski"
            autocomplete="family-name"
          />
          <span></span>
        </div>

        <div class="cs-label">
          <label for="phone-571" class="cs-phone"> Telefon </label>
          <input
            class="cs-input"
            required
            type="tel"
            id="phone-571"
            name="Telefon"
            placeholder="np. 633456789"
            autocomplete="tel"
          />
          <span></span>
        </div>

        <div class="cs-label">
          <label for="email-573" class="cs-email"> E-mail </label>
          <input
            class="cs-input"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            type="email"
            id="email-573"
            name="E-mail"
            placeholder="np. kontaktsportus@gmail"
            autocomplete="email"
          />
          <span></span>
          <input
            type="hidden"
            name="subject"
            value="Zapytanie z formularza kontaktowego - Sportus"
          />
        </div>

        <div class="cs-label cs-span-2">
          <label for="message-574" class="cs-message"> Wiadomość </label>
          <textarea
            class="cs-input cs-textarea"
            required
            name="Wiadomość"
            id="message-574"
            placeholder="Twoja wiadomość..."></textarea>
        </div>

        <div class="cs-label cs-span-2">
          <label class="cs-policy" for="agreement">
            Zgadzam się na przetwarzanie moich danych osobowych zgodnie z
            <a href="/polityka-prywatnosci">polityką prywatności</a>
            <input
              class="cs-checkbox"
              type="checkbox"
              id="agreement"
              name="Polityka prywatności"
              required
            />
          </label>
        </div>

        <button class="cs-submit" type="submit">Wyslij wiadomość</button>
      </form>
    </div>

    <div class="cs-right">
      <Image
        src={team}
        alt="group of kids with a trainer listening to his speech"
        width="500"
        height="300"
      />
      <!--Address-->
      <div class="cs-flex">
        <span class="cs-header">Gdzie nas znajdziesz?</span>
        <p>Gdańsk, Gdynia, Sopot, woj. pomorskie, Kaszuby</p>
      </div>
      <!--Contacts-->
      <div class="cs-flex">
        <span class="cs-header">Kontakt</span>
        <a href="mailto:kontakt.sportus@gmail.com" class="cs-link"
          >kontakt.sportus@gmail.com</a
        >
        <a href="tel:+48609385361" class="cs-link cs-phone">+48 609-385-361</a>
      </div>
      <!--Social-->
    </div>
  </div>

  <script>
    const isPhoneValid = (phone: string): boolean => /^\d{9}$/.test(phone);
    const isEmailValid = (email: string): boolean =>
      /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email);
    const isNameValid = (name: string): boolean => /^[a-zA-Z]+$/.test(name);

    const phoneInput = document.getElementById("phone-571") as HTMLInputElement;
    const nameInput = document.getElementById("name-569") as HTMLInputElement;
    const emailInput = document.getElementById("email-573") as HTMLInputElement;
    const lastnameInput = document.getElementById("name-570") as HTMLInputElement;
    const errorElement = document.createElement("strong") as HTMLElement;
    const allInputs = document.querySelectorAll(
      ".cs-input"
    ) as NodeListOf<HTMLInputElement>;

    for (const input of allInputs) {
      removeValid(input);
    }

    validateInput(phoneInput, isPhoneValid, "Wymagany format to 9cyfr - np. 603603603");

    removeError(phoneInput);

    validateInput(nameInput, isNameValid, "Prosimy wprowadzić swoje imię");

    removeError(nameInput);

    validateInput(emailInput, isEmailValid, "Prosimy wprowadzić prawidłowy adres e-mail");

    validateInput(lastnameInput, isNameValid, "Prosimy wprowadzić swoje nazwisko");

    removeError(lastnameInput);

    function removeValid(input: HTMLInputElement): void {
      input.addEventListener("input", () => {
        if (input.classList.contains("valid")) {
          input.classList.remove("valid");
          input.setAttribute("aria-invalid", "false");
        }
      });
    }

    function removeError(input: HTMLInputElement): void {
      input.addEventListener("input", () => {
        if (input.classList.contains("error")) {
          input.classList.remove("error");
          errorElement.remove();
        }
      });
    }

    function validateInput(
      input: HTMLInputElement,
      callback: (value: string) => boolean,
      errorMessage = ""
    ): boolean {
      let isValid = false;
      let errorMsg = "";

      const validate = () => {
        if (!input.value) return;

        isValid = callback(input.value);
        errorMsg = isValid ? "" : errorMessage;

        errorElement.classList.add("error");
        errorElement.textContent = errorMsg;
        input.classList.add("valid");
        input.setAttribute("aria-invalid", isValid ? "false" : "true");
        input.setAttribute("aria-describedby", errorMessage);
        input.setAttribute("aria-errormessage", errorMessage);
        errorElement.setAttribute("id", errorMessage);
        errorElement.setAttribute("aria-live", "polite");

        if (errorMsg) {
          input.insertAdjacentElement("afterend", errorElement);
          input.classList.add("error");
          input.classList.remove("valid");
        }
      };

      input.addEventListener("blur", () => {
        validate();
        input.style.borderColor = errorMsg ? "red" : "";
        input.style.animation = errorMsg ? "shake 0.3s ease" : "";
      });

      return isValid;
    }

    const form = document.getElementById("cs-form-569") as HTMLFormElement;
    form.addEventListener("submit", (e) => {
      e.preventDefault();

      if (form.checkValidity()) {
        form.submit();
      } else {
        errorElement.classList.add("error");
        errorElement.textContent = "Formularz zawiera błędy";
        form.insertAdjacentElement("afterend", errorElement);

        const firstInputWithError = form.querySelector(".error");
        if (firstInputWithError) {
          (firstInputWithError as HTMLInputElement).focus();
        }
      }
    });
  </script>
</section>
