---
import { Image } from "astro:assets";
import team from "../../assets/images/team.webp";
import "./form.css";
---

<section id="contact-569">
  <div class="cs-container">
    <div class="cs-left">
      <div class="cs-content">
        <span class="cs-topper">KONTAKT</span>
        <h2 class="cs-title">Masz pytania? Piłka jest po Twojej stronie!</h2>
        <p class="cs-text">
          Masz pytania lub chcesz zapisać swoje dziecko na zajęcia? Skontaktuj się z nami
          już dziś! Jesteśmy do Twojej dyspozycji pod numerem telefonu, e-mailem lub
          poprzez formularz kontaktowy poniżej.
        </p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-569" name="Contact Form" method="post">
        <label for="name-569" class="cs-label">
          Imię
          <input
            class="cs-input"
            required
            type="text"
            id="name-569"
            name="name"
            placeholder="Imię"
          />
        </label>
        <label for="name-570" class="cs-label">
          Nazwisko
          <input
            class="cs-input"
            required
            type="text"
            id="name-570"
            name="lastname"
            placeholder="Nazwisko"
          />
        </label>
        <label for="phone-571" class="cs-label">
          Telefon
          <input
            class="cs-input"
            required
            type="text"
            id="phone-571"
            name="phone"
            placeholder="Telefon"
          />
        </label>
        <label for="email-573" class="cs-label">
          E-mail
          <input
            class="cs-input"
            required
            type="text"
            id="email-573"
            name="email"
            placeholder="E-mail"
          />
        </label>
        <label for="message-574" class="cs-label cs-message">
          Wiadomość
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-574"
            placeholder="Twoja wiadomość..."></textarea>
        </label>
        <button class="cs-submit" type="submit">Wyslij</button>
      </form>
    </div>
    <div class="cs-right">
      <Image
        src={team}
        alt="group of kids with a trainer listening to his speech"
        width="500"
        height="300"
        aria-hidden="true"
      />
      <!--Address-->
      <div class="cs-flex">
        <span class="cs-header">Gdzie nas znajdziesz</span>
        <p>Gdańsk, Gdynia, Sopot, woj. pomorskie, Kaszuby</p>
        <!-- <button class="xxx">Otworz mape</button>
        <dialog>
          <button autofocus>Close</button>
          <p>This modal dialog has a groovy backdrop!</p>
        </dialog> -->
      </div>
      <!--Contacts-->
      <div class="cs-flex">
        <span class="cs-header">Kontakt</span>
        <a href="mailto:kontakt.sportus@gmail.com" class="cs-link"
          >kontakt.sportus@gmail.com</a
        >
        <a href="tel:+48 609-385-361" class="cs-link cs-phone">+48 609-385-361</a>
      </div>
      <!--Social-->
    </div>
  </div>
</section>

<!-- <script>
  function init() {
    const mapButton = document.querySelector(".xxx") as HTMLButtonElement;
    const dialog = document.querySelector("dialog") as HTMLDialogElement;
    const closeButton = document.querySelector("dialog button") as HTMLButtonElement;

    mapButton.addEventListener("click", (e) => {
      // e.stopPropagation();
      dialog.showModal();
    });

    closeButton.addEventListener("click", () => closeDialog());

    // function clickOutside(e: MouseEvent) {
    //   if (e.target !== dialog) {
    //     closeDialog();
    //   }
    // }

    function closeDialog() {
      dialog.close();
      // document.removeEventListener("click", clickOutside);
    }

    function closeByEsc(e: KeyboardEvent) {
      if (e.key === "Escape") closeDialog();
    }

    document.addEventListener("keydown", closeByEsc);
  }

  init();
</script> -->
