---
import { Picture } from "astro:assets";
import heroImage from "../../assets/images/hero-image.webp";
import "./hero.css";
---

<section id="hero-1946">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">
        SPORTUŚ - Zajęcia sportowe dla dzieci w Trójmieście i okolicach
      </h1>
      <div class="cs-flex">
        <p class="cs-text">
          Projekt zrodzony z pasji do sportu i troski o wszechstronny rozwój dzieci. Nasze
          zajęcia łączą aktywność fizyczną z doskonałą zabawą, wspierając rozwój
          motoryczny i budowanie relacji z rówieśnikami. SPORTUŚ to miejsce, gdzie
          tworzymy przestrzeń, w której dzieci mogą rozwijać swoje umiejętności pod okiem
          doświadczonych trenerów, czerpiąc radość z ruchu. Dołącz do naszej sportowej
          społeczności!
        </p>
        <a href="#contact-569" class="cs-button-solid">Zapisz swoje dziecko już dziś !</a>
      </div>
    </div>
    <Picture
      formats={["avif", "webp"]}
      class="cs-picture"
      src={heroImage}
      alt="3 children on a field looking up the camera smiling"
      width="1280"
      height="310"
    />
  </div>
</section>
