---
import "./reviews.css";
---

<section id="reviews-510">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-title-group">
        <span class="cs-topper">Opinie</span>
        <h2 class="cs-title">Co mówią o na inni</h2>
      </div>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <!--Blue Quote-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="46"
        />
        <p class="cs-item-text">
          This platform is one of the best companies I have dealt with in Indonesia.
          They’re always happy to help, and i wouldn’t hesitate to recommend them.
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Anne Brown
            <span class="cs-job">Landscape Web Customer</span>
          </span>
        </div>
      </li>
      <li class="cs-item">
        <!--Blue Quote-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="46"
        />
        <p class="cs-item-text">
          This platform is one of the best companies I have dealt with in Indonesia.
          They’re always happy to help, and i wouldn’t hesitate to recommend them.
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Anne Brown
            <span class="cs-job">Landscape Web Customer</span>
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
