---
import form from "../../assets/icons/form.svg?raw";
import happyGirl from "../../assets/icons/happy-girl.svg?raw";
import success from "../../assets/icons/success.svg?raw";
import "./get-started.css";
---

<section id="steps-1173">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">TO PROSTE !</span>
      <h2 class="cs-title">Jak do nas dołączyć ?</h2>
      <p class="cs-text">
        Wypełnij formularz zgłoszeniowy lub zadzwoń, a my skontaktujemy się z Tobą, by
        ustalić szczegóły współpracy.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-picture">
          <Fragment set:html={form} />
        </div>
        <h3 class="cs-h3">Wypełnij formularz lub zadzwoń</h3>
      </li>
      <li class="cs-item">
        <div class="cs-picture">
          <Fragment set:html={success} />
        </div>
        <h3 class="cs-h3">Nawiąż współpracę</h3>
      </li>
      <li class="cs-item">
        <div class="cs-picture">
          <Fragment set:html={happyGirl} />
        </div>
        <h3 class="cs-h3">Dołącz do drużyny Sportusia !</h3>
      </li>
    </ul>
  </div>
</section>
