---
import happyGirl from "../../assets/icons/happy-girl.svg?raw";
import form from "../../assets/icons/form.svg?raw";
import success from "../../assets/icons/success.svg?raw";
import "./get-started.css";
---

<section id="steps-1173">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">TO PROSTE !</span>
      <h2 class="cs-title">Jak do Nas dołączyć ?</h2>
      <p class="cs-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero sint hic
        accusantium exercitationem, voluptatem officia quaerat velit quis ullam?
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <Fragment set:html={form} />
        </picture>
        <h3 class="cs-h3">Wypełnij formularz lub zadzwon</h3>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <Fragment set:html={success} />
        </picture>
        <h3 class="cs-h3">Otrzymaj potwierdzenie</h3>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <Fragment set:html={happyGirl} />
        </picture>
        <h3 class="cs-h3">Stań się jednym z Nas !</h3>
      </li>
    </ul>
  </div>
</section>
