#policy {
  padding: var(--sectionPadding);
  padding-top: clamp(10rem, 20vw, 12.5rem);
  max-width: 80rem;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.5em;
}
#policy a {
    text-decoration: underline;
}