/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1125 {
    padding-top: clamp(7rem, 15vw, 8rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1125 .cs-container {
    padding: var(--sectionPadding);
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbs-1125 .cs-container:nth-child(2) {
    padding: 0;
  }
  #sbs-1125 .cs-content {
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1125 .cs-text {
    margin-bottom: 1rem;
    text-align: justify;
  }
  #sbs-1125 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1125 .cs-image-group {
    font-size: min(1.9vw, 0.64em);
    width: 41.0625em;
    height: 42.25em;
    position: relative;
    z-index: 1;
  }
  #sbs-1125 .cs-picture {
    width: 41.0625em;
    height: 42.25em;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--radius);
    object-fit: cover;
    object-position: right;
  }

  .football {
    animation: rotate 10s linear infinite;
  }

  .cs-bottom-small {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 1rem;
  }

  .cs-image-btn {
    border: none;
    background: none;
    transition: transform 0.3s ease;
  }

  .cs-image-btn:focus {
    outline: none;
  }
  .cs-image-btn:focus-visible {
    outline: 2px solid var(--black);
  }

  .cs-image-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .cs-dialog[closed] {
    display: none;
  }
  .cs-dialog[open] {
    position: relative;
    display: block;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-bottom: 3rem;
  }
  .left,
  .right {
    position: absolute;
    top: 87%;
    border: none;
    background: var(--primary);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .left:hover,
  .right:hover {
    background: var(--primaryDark);
  }
  .left:disabled,
  .right:disabled {
    background: grey;
    cursor: not-allowed;
  }
  .right {
    right: 0.5rem;
  }
  .left {
    left: 0.5rem;
  }
  .cs-dialog-img {
    border-radius: 1rem;
    max-width: 100%;
  }
  ::backdrop {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
  }
  .cs-dialog-close {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
  }
  .cs-dialog-close:hover {
    text-decoration: underline;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1125 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #sbs-1125 .cs-container:nth-child(2) {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    max-width: auto;
    background-color: var(--primaryLight);
  }
  #sbs-1125 .cs-image-group {
    font-size: min(1.2vw, 1em);
    margin: 0;
  }
  #sbs-1125 .cs-content {
    width: 45%;
    flex: none;
    margin-top: 0;
  }

  .cs-bottom-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .cs-bottom-small {
    display: block;
    width: 15em;
    height: 13.5em;
    border-radius: var(--radius);
    object-fit: cover;
  }

  .cs-dialog[open] {
    padding: 3rem;
  }

  .left,
  .right {
    top: 95%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1288px) {
  .last {
    display: none;
  }

  .cs-bottom-small {
    width: 93%;
  }
}
