---
import News from "../components/news/News.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/aktualnosci.css";

const news = [
  {
    slug: "/aktualnosci/costam",
    alt: "news",
    img: "https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/daycare1.jpg",
    title: "Najnowsze nowe informacje o Akademii",
    text: "Najnowsze informacje o Akademii",
    date: "2022.04.10",
    author: "John Doe",
  },
];
---

<Layout
  title="Sportuś - Najnowsze Wydarzenia i Informacje"
  description="Bądź na bieżąco z najświeższymi informacjami o naszych zajęciach sportowych dla dzieci. Sprawdź aktualności, wydarzenia i sukcesy naszych młodych sportowców!"
>
  <section id="blog-1540">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Co w trawie piszczy ?</span>
        <h2 class="cs-title">Aktualności Sportuś</h2>
        <p class="cs-text">
          W naszej Akademii ciągle się dzieje! Z radością informujemy o nowych
          inicjatywach, projektach i współpracach, które pozwolą nam rozwijać naszą ofertę
          i jeszcze lepiej odpowiadać na potrzeby dzieci. Nasi trenerzy nieustannie
          podnoszą swoje kwalifikacje, aby dostarczać najwyższej jakości zajęcia. Śledźcie
          tę sekcję, aby być na bieżąco z najnowszymi informacjami dotyczącymi rozwoju
          naszej Akademii oraz ważnymi ogłoszeniami.
        </p>
      </div>
      <ul class="cs-card-group">
        {news.map((news) => <News news={news} />)}
      </ul>
    </div>
  </section>
</Layout>
