---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "../styles/oferta.css";
---

<Layout
  title="Sportuś - Oferta"
  description="Czym zajęć sportowe dla dzieci. Wybierz odpowiednie dyscypliny i godziny, aby zapewnić swojemu dziecku aktywność i rozwój"
>
  <section id="why-choose-1485">
    <div class="cs-container">
      <div class="cs-image-group">
        <!--Top left image-->
        <Image
          class="cs-picture cs-picture1"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/child6.jpg"
          alt="kid"
          width="647"
          height="600"
        />
        <!--Middle image-->
        <Image
          class="cs-picture cs-picture2"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/kids5.jpg"
          alt="kid"
          width="320"
          height="320"
        />
        <svg
          class="cs-mask"
          width="647"
          height="600"
          viewBox="0 0 647 600"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="cs-outer-mask"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 0H647V600H0V0ZM38 110C64.0297 75.766 102.579 52.0824 143 37C144.788 36.3365 146.555 35.5378 148.324 34.7378C150.529 33.7407 152.738 32.7417 155 32C251.273 0.380304 364.071 -8.26436 457 38C514.621 66.6831 553.453 118.152 591.339 168.368C596.562 175.29 601.767 182.188 607 189C657.382 254.558 650.888 352.089 614 422C585.347 476.308 539.036 519.481 487 552C403.358 604.274 320.729 610.296 236 554C116.994 474.921 -74.8032 258.339 38 110Z"
            fill="#ffffff"></path>
          <!--Svg Border-->
          <path
            class="cs-mask-border"
            d="M609.578 419.667L614 422L609.578 419.667C645.882 350.863 651.85 255.566 603.035 192.047L603.035 192.046C597.763 185.184 592.537 178.261 587.308 171.335C549.335 121.032 511.26 70.5951 454.772 42.4761L454.772 42.476C363.478 -2.9739 252.173 5.34746 156.56 36.7504L156.558 36.7511C154.801 37.3273 153.023 38.1029 151.033 39.0003C150.82 39.0965 150.603 39.1945 150.384 39.2937C148.637 40.0841 146.708 40.9569 144.748 41.6845C104.889 56.5573 67.259 79.7797 41.9802 113.026L38 110L41.98 113.027C-12.5389 184.72 5.99713 273.442 54.3776 355.432C102.668 437.269 179.806 510.656 238.767 549.836C280.403 577.499 321.25 589.69 361.787 588.715C402.372 587.739 443.075 573.556 484.35 547.76C535.868 515.565 581.448 472.984 609.578 419.667Z"
            stroke="#fff"
            stroke-width="10"></path>
        </svg>
      </div>
      <div class="cs-content">
        <span class="cs-topper">OFERTA</span>
        <h2 class="cs-title">Podchodzimy do wczesnej edukacji z pasją !</h2>

        <h3>Cykliczne zajęcia ogólnorozwojowe</h3>
        <p class="cs-text">
          Zajęcia te odbywają się w przedszkolu w grupach maksymalnie 12-osobowych.
          Spotykamy się regularnie raz w tygodniu przez 30 minut od września do czerwca.
        </p>
        <p class="cs-text">
          W ramach zajęć w przedszkolach realizujemy ćwiczenia ogólnorozwojowe oraz uczymy
          podstaw takich sportów jak piłka nożna, siatkówka czy koszykówka. Wszystko to w
          radosnej oprawie, by dzieci pokochały sport i poczuły przyjemność z aktywności
          fizycznej. Forma zajęć jest radosna i pełna kreatywnych tematów, takich jak
          zwierzęta, bajkowe historie i podróże po świecie, co sprzyja budowaniu
          pozytywnego podejścia do sportu. Rozwijamy też kompetencje językowe poprzez
          używanie słówek z jęz. angielskiego.
        </p>

        <h3>Warszaty sportowe</h3>
        <p class="cs-text">
          Zajęcia odbywają się w przedszkolu w grupach maksymalnie 12-osobowych. W trakcie
          jednorazowego 30-minutowego spotkania dzieci uczą się podstaw różnych dyscyplin,
          takich jak piłka nożna, siatkówka i koszykówka, rozwijając koordynację, zwinność
          oraz sprawność ruchową. Wszystko to w radosnej oprawie, by dzieci pokochały
          sport i poczuły przyjemność z aktywności fizycznej.
        </p>

        <p class="cs-text underline">
          Już wkrótce planujemy wprowadzić zajęcia sportowe dla dzieci w godzinach
          popołudniowych, treningi indywidualne i grupowe z zakresu piłki nożnej oraz
          zajęcia sportowe dla dzieci przy aktywnym udziale rodziców.
        </p>

        <a href="/#contact-569" class="cs-button-solid">Skontaktuj się z nami !</a>
      </div>
    </div>
  </section>
</Layout>
