---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "../styles/oferta.css";
---

<Layout
  title="Sportuś - Oferta"
  description="Czym zajęć sportowe dla dzieci. Wybierz odpowiednie dyscypliny i godziny, aby zapewnić swojemu dziecku aktywność i rozwój"
>
  <section id="why-choose-1485">
    <div class="cs-container">
      <div class="cs-image-group">
        <!--Top left image-->
        <Image
          class="cs-picture cs-picture1"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/child6.jpg"
          alt="kid"
          width="647"
          height="600"
        />
        <!--Middle image-->
        <Image
          class="cs-picture cs-picture2"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/kids5.jpg"
          alt="kid"
          width="320"
          height="320"
        />
        <!--Flower-->
        <!-- <Image
          class="cs-flower"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower3.svg"
          alt="graphic"
          width="153"
          height="148"
          aria-hidden="true"
        /> -->
        <!--Sqiggle-->
        <!-- <Image
          class="cs-squiggle"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/squiggle4.svg"
          alt="graphic"
          width="215"
          height="61"
          aria-hidden="true"
        /> -->
        <!--SVG Mask-->
        <svg
          class="cs-mask"
          width="647"
          height="600"
          viewBox="0 0 647 600"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="cs-outer-mask"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 0H647V600H0V0ZM38 110C64.0297 75.766 102.579 52.0824 143 37C144.788 36.3365 146.555 35.5378 148.324 34.7378C150.529 33.7407 152.738 32.7417 155 32C251.273 0.380304 364.071 -8.26436 457 38C514.621 66.6831 553.453 118.152 591.339 168.368C596.562 175.29 601.767 182.188 607 189C657.382 254.558 650.888 352.089 614 422C585.347 476.308 539.036 519.481 487 552C403.358 604.274 320.729 610.296 236 554C116.994 474.921 -74.8032 258.339 38 110Z"
            fill="#ffffff"></path>
          <!--Svg Border-->
          <path
            class="cs-mask-border"
            d="M609.578 419.667L614 422L609.578 419.667C645.882 350.863 651.85 255.566 603.035 192.047L603.035 192.046C597.763 185.184 592.537 178.261 587.308 171.335C549.335 121.032 511.26 70.5951 454.772 42.4761L454.772 42.476C363.478 -2.9739 252.173 5.34746 156.56 36.7504L156.558 36.7511C154.801 37.3273 153.023 38.1029 151.033 39.0003C150.82 39.0965 150.603 39.1945 150.384 39.2937C148.637 40.0841 146.708 40.9569 144.748 41.6845C104.889 56.5573 67.259 79.7797 41.9802 113.026L38 110L41.98 113.027C-12.5389 184.72 5.99713 273.442 54.3776 355.432C102.668 437.269 179.806 510.656 238.767 549.836C280.403 577.499 321.25 589.69 361.787 588.715C402.372 587.739 443.075 573.556 484.35 547.76C535.868 515.565 581.448 472.984 609.578 419.667Z"
            stroke="#fff"
            stroke-width="10"></path>
        </svg>
      </div>
      <div class="cs-content">
        <span class="cs-topper">OFERTA</span>
        <h2 class="cs-title">Podchodzimy do wczesnej edukacji z pasją !</h2>
        <p class="cs-text">
          W ramach naszych zajęć realizujemy ćwiczenia ogólnorozwojowe oraz uczymy podstaw
          takich sportów jak: piłka nożna, siatkówka czy koszykówka. Wszystko to w
          radosnej oprawie, by dzieci pokochały sport i poczuły przyjemność z aktywności
          fizycznej. Podczas spotkań wplatamy takie tematy jak bajki, zwierzęta czy
          podróże po kontynentach. Rozwijamy też kompetencje językowe poprzez używanie
          słówek z jęz. angielskiego.
        </p>
        <ul class="cs-ul">
          <li class="cs-li">
            <div class="cs-li-div">
              <svg
                class="cs-li-icon"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 19.5543C12.1978 19.5543 12.3911 19.4956 12.5556 19.3857C12.72 19.2758 12.8482 19.1197 12.9239 18.9369C12.9996 18.7542 13.0194 18.5532 12.9808 18.3592C12.9422 18.1652 12.847 17.987 12.7071 17.8472C12.5673 17.7073 12.3891 17.6121 12.1951 17.5735C12.0011 17.5349 11.8 17.5547 11.6173 17.6304C11.4346 17.7061 11.2784 17.8342 11.1685 17.9987C11.0586 18.1631 11 18.3565 11 18.5543C11 18.8195 11.1054 19.0738 11.2929 19.2614C11.4804 19.4489 11.7348 19.5543 12 19.5543ZM17 19.5543C17.1978 19.5543 17.3911 19.4956 17.5556 19.3857C17.72 19.2758 17.8482 19.1197 17.9239 18.9369C17.9996 18.7542 18.0194 18.5532 17.9808 18.3592C17.9422 18.1652 17.847 17.987 17.7071 17.8472C17.5673 17.7073 17.3891 17.6121 17.1951 17.5735C17.0011 17.5349 16.8 17.5547 16.6173 17.6304C16.4346 17.7061 16.2784 17.8342 16.1685 17.9987C16.0586 18.1631 16 18.3565 16 18.5543C16 18.8195 16.1054 19.0738 16.2929 19.2614C16.4804 19.4489 16.7348 19.5543 17 19.5543ZM17 15.5543C17.1978 15.5543 17.3911 15.4956 17.5556 15.3857C17.72 15.2758 17.8482 15.1197 17.9239 14.9369C17.9996 14.7542 18.0194 14.5532 17.9808 14.3592C17.9422 14.1652 17.847 13.987 17.7071 13.8472C17.5673 13.7073 17.3891 13.6121 17.1951 13.5735C17.0011 13.5349 16.8 13.5547 16.6173 13.6304C16.4346 13.7061 16.2784 13.8342 16.1685 13.9987C16.0586 14.1631 16 14.3565 16 14.5543C16 14.8195 16.1054 15.0738 16.2929 15.2614C16.4804 15.4489 16.7348 15.5543 17 15.5543ZM12 15.5543C12.1978 15.5543 12.3911 15.4956 12.5556 15.3857C12.72 15.2758 12.8482 15.1197 12.9239 14.9369C12.9996 14.7542 13.0194 14.5532 12.9808 14.3592C12.9422 14.1652 12.847 13.987 12.7071 13.8472C12.5673 13.7073 12.3891 13.6121 12.1951 13.5735C12.0011 13.5349 11.8 13.5547 11.6173 13.6304C11.4346 13.7061 11.2784 13.8342 11.1685 13.9987C11.0586 14.1631 11 14.3565 11 14.5543C11 14.8195 11.1054 15.0738 11.2929 15.2614C11.4804 15.4489 11.7348 15.5543 12 15.5543ZM19 3.55426H18V2.55426C18 2.28904 17.8946 2.03469 17.7071 1.84715C17.5196 1.65962 17.2652 1.55426 17 1.55426C16.7348 1.55426 16.4804 1.65962 16.2929 1.84715C16.1054 2.03469 16 2.28904 16 2.55426V3.55426H8V2.55426C8 2.28904 7.89464 2.03469 7.70711 1.84715C7.51957 1.65962 7.26522 1.55426 7 1.55426C6.73478 1.55426 6.48043 1.65962 6.29289 1.84715C6.10536 2.03469 6 2.28904 6 2.55426V3.55426H5C4.20435 3.55426 3.44129 3.87033 2.87868 4.43294C2.31607 4.99555 2 5.75861 2 6.55426V20.5543C2 21.3499 2.31607 22.113 2.87868 22.6756C3.44129 23.2382 4.20435 23.5543 5 23.5543H19C19.7956 23.5543 20.5587 23.2382 21.1213 22.6756C21.6839 22.113 22 21.3499 22 20.5543V6.55426C22 5.75861 21.6839 4.99555 21.1213 4.43294C20.5587 3.87033 19.7956 3.55426 19 3.55426ZM20 20.5543C20 20.8195 19.8946 21.0738 19.7071 21.2614C19.5196 21.4489 19.2652 21.5543 19 21.5543H5C4.73478 21.5543 4.48043 21.4489 4.29289 21.2614C4.10536 21.0738 4 20.8195 4 20.5543V11.5543H20V20.5543ZM20 9.55426H4V6.55426C4 6.28904 4.10536 6.03469 4.29289 5.84715C4.48043 5.65962 4.73478 5.55426 5 5.55426H6V6.55426C6 6.81948 6.10536 7.07383 6.29289 7.26137C6.48043 7.4489 6.73478 7.55426 7 7.55426C7.26522 7.55426 7.51957 7.4489 7.70711 7.26137C7.89464 7.07383 8 6.81948 8 6.55426V5.55426H16V6.55426C16 6.81948 16.1054 7.07383 16.2929 7.26137C16.4804 7.4489 16.7348 7.55426 17 7.55426C17.2652 7.55426 17.5196 7.4489 17.7071 7.26137C17.8946 7.07383 18 6.81948 18 6.55426V5.55426H19C19.2652 5.55426 19.5196 5.65962 19.7071 5.84715C19.8946 6.03469 20 6.28904 20 6.55426V9.55426ZM7 15.5543C7.19778 15.5543 7.39112 15.4956 7.55557 15.3857C7.72002 15.2758 7.84819 15.1197 7.92388 14.9369C7.99957 14.7542 8.01937 14.5532 7.98079 14.3592C7.9422 14.1652 7.84696 13.987 7.70711 13.8472C7.56725 13.7073 7.38907 13.6121 7.19509 13.5735C7.00111 13.5349 6.80004 13.5547 6.61732 13.6304C6.43459 13.7061 6.27841 13.8342 6.16853 13.9987C6.05865 14.1631 6 14.3565 6 14.5543C6 14.8195 6.10536 15.0738 6.29289 15.2614C6.48043 15.4489 6.73478 15.5543 7 15.5543ZM7 19.5543C7.19778 19.5543 7.39112 19.4956 7.55557 19.3857C7.72002 19.2758 7.84819 19.1197 7.92388 18.9369C7.99957 18.7542 8.01937 18.5532 7.98079 18.3592C7.9422 18.1652 7.84696 17.987 7.70711 17.8472C7.56725 17.7073 7.38907 17.6121 7.19509 17.5735C7.00111 17.5349 6.80004 17.5547 6.61732 17.6304C6.43459 17.7061 6.27841 17.8342 6.16853 17.9987C6.05865 18.1631 6 18.3565 6 18.5543C6 18.8195 6.10536 19.0738 6.29289 19.2614C6.48043 19.4489 6.73478 19.5543 7 19.5543Z"
                  fill="#e39d22"></path>
              </svg>
            </div>
            <div class="cs-flex">
              <h3 class="cs-h3">JAK DŁUGO TRWA NASZ PROGRAM ?</h3>
              <p class="cs-li-text">
                PROGRAM TRWA OD <span class="cs-highlight">WRZEŚNIA DO CZERWCA</span> (10 MIESIĘCY).
              </p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-li-div">
              <svg
                class="cs-li-icon"
                fill="#e39d22"
                height="36px"
                width="36px"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 512.005 512.005"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M502.116,172.008c-5.507-5.931-14.778-6.274-20.708-0.768l-29.637,27.519c-4.861-2.623-9.684-3.618-14.448-0.473
			l0.587-1.378c0.936-2.199-0.087-4.742-2.286-5.678c-1.884-0.803-4.011-0.159-5.174,1.423c0.151-1.346,0.235-2.711,0.235-4.098
			c0-20.138-16.325-36.464-36.464-36.464s-36.464,16.325-36.464,36.464c0,1.386,0.085,2.752,0.235,4.098
			c-1.163-1.582-3.29-2.226-5.174-1.423c-2.199,0.936-3.223,3.479-2.286,5.678l0.587,1.378c-4.287-2.83-8.988-2.285-13.065-0.249
			c-3.095,1.546-7.28,4.021-11.741,8.576l-50.401-33.479c-6.74-4.478-15.834-2.643-20.313,4.098
			c-4.478,6.741-2.643,15.835,4.098,20.313c76.806,51.024,98.667,65.565,99.395,65.986c0,0-5.52,34.261-23.007,127.052
			c-0.976,5.039,2.909,9.697,7.991,9.697c2.145,0,4.584,0,7.255,0l-17.804,90.749c-1.87,9.53,4.34,18.77,13.869,20.64
			c9.525,1.87,18.769-4.338,20.64-13.869l19.132-97.52c5.844,0,11.775,0,17.574,0l14.422,96.728
			c1.432,9.602,10.375,16.229,19.985,14.798c3.772-0.563,7.072-2.295,9.618-4.76c2.943,3.051,7.063,4.956,11.636,4.956
			c8.934,0,16.177-7.243,16.177-16.177c0-8.934-7.242-16.177-16.177-16.177c-2.895,0-5.606,0.77-7.958,2.102l-12.148-81.47
			c1.443,0,2.811,0,4.067,0c5.109,0,8.966-4.663,7.991-9.697c-13.867-71.344-23.441-130.606-23.441-130.606l37.309-34.644
			c1.517,0.317,3.04,0.698,4.563,1.198c0.871,0.286,1.828,0.023,2.431-0.668c0.602-0.69,0.733-1.674,0.333-2.498
			c-0.556-1.143-1.12-2.224-1.686-3.268l29.485-27.379C507.279,187.21,507.622,177.939,502.116,172.008z M411.448,236.203
			c-15.442,0-23.61,0-40.593,0l-19.365-12.864c3.102-1.32,5.806-4.252,6.886-8.006l0.631,1.481
			c2.242,5.266,10.222,1.911,7.965-3.392l-0.539-1.266c6.688,7.867,16.651,12.865,27.787,12.865c11.137,0,21.1-4.998,27.788-12.866
			l-0.539,1.267c-2.258,5.303,5.733,8.633,7.965,3.392l0.631-1.48c0.259,0.901,0.61,1.774,1.061,2.599L411.448,236.203z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="122.289" cy="179.993" r="36.552"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M241.226,143.262c4.87-6.548,3.51-15.802-3.038-20.672c-6.546-4.87-15.8-3.511-20.671,3.038l-76.289,102.573
			c-4.088,0-35.106,0-39.43,0l-69.636-84.749c-5.18-6.303-14.489-7.216-20.793-2.035c-6.303,5.18-7.216,14.49-2.035,20.793
			l73.666,89.653v98.096L40.756,489.118c-2.845,9.369,2.445,19.269,11.814,22.113c9.388,2.848,19.274-2.462,22.113-11.814
			l39.355-129.641h13.73l12.778,126.279c0.985,9.74,9.681,16.839,19.422,15.853c9.741-0.986,16.839-9.682,15.853-19.422
			c-15.39-152.084-14.321-141.896-14.57-143.218V250.79L241.226,143.262z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="279.01" cy="112.867" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="224.016" cy="495.828" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="294.374" cy="495.828" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="362.99" cy="76.105" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="207.835" cy="43.751" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="143.841" cy="92.285" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="43.843" cy="76.105" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="95.31" cy="27.574" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="430.69" cy="27.574" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="468.687" cy="124.635" r="16.177"></circle>
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="295.179" cy="16.177" r="16.177"></circle>
                  </g>
                </g>
              </svg>
            </div>
            <div class="cs-flex">
              <h3 class="cs-h3">GDZIE ODBYWAJĄ SIĘ ZAJĘCIA</h3>
              <p class="cs-li-text">
                ZAJĘCIA ODBYWAJĄ SIĘ W <span class="cs-highlight">PRZEDSZKOLU</span> W GRUPACH
                MAKSYMALNIE <span class="cs-highlight">12-OSOBOWYCH</span>.
              </p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-li-div">
             
              <svg width="36px" height="36px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#e39d22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 6V12" stroke="#e39d22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.24 16.24L12 12" stroke="#e39d22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="cs-flex">
              <h3 class="cs-h3">ILE CZASU TRWAJĄ ZAJĘCIA ?</h3>
              <p class="cs-li-text">
                SPOTYKAMY SIĘ RAZ W TYGODNIU NA
                <span class="cs-highlight">30 MINUT</span>.
              </p>
            </div>
          </li>
          <p class="cs-paragraph">
            Zajęcia pokazowe są darmowe. Koszt zajęć wynosi <span class="cs-highlight">50 zł miesięcznie</span>, jeśli płaci
            rodzic.
          </p>
        </ul>
        <a href="/#contact-569" class="cs-button-solid">Zapisz swoje dziecko już dziś !</a
        >
      </div>
    </div>
  </section>
</Layout>
