---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "../styles/plan.css";
---
<Layout title="Plan">
  <section id="timetable-1731">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex-group">
          <span class="cs-topper">Plan zajec</span>
          <h2 class="cs-title">Zapraszamy do zapoznania sie z naszymi programami</h2>
        </div>
        <a href="/#contact-569" class="cs-button-solid">
          <span>Skontaktuj sie z nami</span>
          <Image
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-upper-right-arrow.svg"
            alt="arrow"
            height="28"
            width="28"
            aria-hidden="true"
          />
        </a>
      </div>
      <div class="cs-table-list">
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Monday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Tuesday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Wednesday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Thursday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Friday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
        <table class="cs-table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Saturday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mat Pilates</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Power Yoga</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Cardio Burn</th>
              <td>8:00 - 9:00</td>
            </tr>
            <tr>
              <th scope="row">Strong Man</th>
              <td>8:00 - 9:00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg-desk.png"
      />
      <img
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png"
        alt="background"
        loading="lazy"
        decoding="async"
        height="1080"
        width="1920"
      />
    </picture>
  </section>
</Layout>
