/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1390 {
    padding: 1rem;
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #footer-1390 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }

  #footer-1390 .cs-ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: clamp(1.5rem, 4vw, 2.25rem);
  }
  #footer-1390 .cs-li {
    list-style: none;
  }
  #footer-1390 .cs-link {
    font-size: clamp(1, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--white);
    display: block;
    transition: color 0.3s;
  }
  #footer-1390 .cs-link:hover {
    color: var(--primaryDark);
  }
  #footer-1390 .cs-link:focus-visible {
    color: var(--black);
  }
  #footer-1390 .cs-logo {
    width: 100%;
    max-width: 11.0625rem;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  #footer-1390 .cs-logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #footer-1390 .cs-copyright {
    text-align: center;
    font-size: 0.8rem;
    color: var(--white);
    line-height: 1.5em;
    margin-top: 1rem;
  }
  #footer-1390 .cs-copyright-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s;
    margin: 1.4rem 0;
  }
  #footer-1390 .cs-copyright-link:hover {
    color: var(--primaryDark);
  }
  #footer-1390 .cs-copyright-link:focus-visible {
    color: var(--black);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1390 .cs-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    column-gap: 2rem;
  }

  .cs-ul {
    grid-column: span 2;
  }

  #footer-1390 .cs-bottom {
    flex-direction: row;
  }
}
