---
import { Image } from "astro:assets";
import logo from "../../assets/images/SPORTUŚ-logo.webp";
import Socials from "../socials/Socials.astro";
import "./footer.css";
const currentYear = new Date().getFullYear();
---

<footer id="footer-1390">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <Image class="cs-logo-img" src={logo} alt="logo" width="209" height="40" />
      </a>

      <ul class="cs-ul">
        <li class="cs-li">
          <a href="/" class="cs-link">Strona główna</a>
        </li>
        <li class="cs-li">
          <a href="/o-nas" class="cs-link">O nas</a>
        </li>
        <li class="cs-li">
          <a href="/oferta" class="cs-link">Oferta</a>
        </li>
        <li class="cs-li">
          <a href="/aktualnosci" class="cs-link">Aktualności</a>
        </li>
        <li class="cs-li">
          <a href="/#contact-569" class="cs-link">Kontakt</a>
        </li>
      </ul>

      <div class="cs-bottom">
        <!--Social-->
        <Socials isFooterMobile />
      </div>
    </div>
    <a href="/polityka-prywatnosci" class="cs-copyright-link">Polityka prywatności</a>
    <p class="cs-copyright">
      © Wszelkie prawa zastrzeżone {currentYear} - Sportuś
    </p>
  </div>
</footer>
