---
import { Image } from "astro:assets";
import logo from "../../assets/images/SPORTUŚ-logo.webp";
import "./footer.css";
const currentYear = new Date().getFullYear();
---

<footer id="footer-1390">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="">
        <Image class="cs-logo-img" src={logo} alt="logo" width="209" height="40" />
      </a>
      <ul class="cs-ul">
        <li class="cs-li">
          <a href="/" class="cs-link">Strona główna</a>
        </li>
        <li class="cs-li">
          <a href="plan-zajec" class="cs-link">Plan zajęć</a>
        </li>
        <li class="cs-li">
          <a href="/trener" class="cs-link">O trenerze</a>
        </li>
        <li class="cs-li">
          <a href="/blog" class="cs-link">Blog</a>
        </li>
        <li class="cs-li">
          <a href="/#contact-569" class="cs-link">Kontakt</a>
        </li>
      </ul>
      <div class="cs-bottom">
        <!--Social-->
        <ul class="cs-social">
          <li class="cs-social-li">
            <a
              href=""
              class="cs-social-link"
              aria-label="facebook"
              target="_blank"
              rel="noopener"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-ba.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="12"
                height="12"
                aria-hidden="true"
              />
            </a>
          </li>
          <li class="cs-social-li">
            <a
              href=""
              class="cs-social-link"
              aria-label="twitter"
              target="_blank"
              rel="noopener"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-ba.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="12"
                height="12"
                aria-hidden="true"
              />
            </a>
          </li>
          <li class="cs-social-li">
            <a
              href=""
              class="cs-social-link"
              aria-label="instagram"
              target="_blank"
              rel="noopener"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-ba.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="12"
                height="12"
                aria-hidden="true"
              />
            </a>
          </li>
          <li class="cs-social-li">
            <a
              href=""
              class="cs-social-link"
              aria-label="twitter"
              target="_blank"
              rel="noopener"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-ba.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="12"
                height="12"
                aria-hidden="true"
              />
            </a>
          </li>
        </ul>
        <span class="cs-copyright">
          © Wszelkie prawa zastrzeżone {currentYear} - <a
            href=""
            class="cs-copyright-link">Sportuś</a
          >
        </span>
        <div class="cs-flex">
          <a href="/polityka-prywatnosci" class="cs-copyright-link"
            >Polityka prywatności</a
          >
          <!-- <span class="cs-separater">|</span> -->
        </div>
      </div>
    </div>
  </div>
</footer>
