---
import { Image } from "astro:assets";
import logo from "../../assets/images/SPORTUŚ-logo.webp";
import "./footer.css";
const currentYear = new Date().getFullYear();
---

<footer id="footer-1390">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <Image class="cs-logo-img" src={logo} alt="logo" width="209" height="40" />
      </a>

      <ul class="cs-ul">
        <li class="cs-li">
          <a href="/" class="cs-link">Strona główna</a>
        </li>
        <li class="cs-li">
          <a href="/o-nas" class="cs-link">O nas</a>
        </li>
        <li class="cs-li">
          <a href="/oferta" class="cs-link">Oferta</a>
        </li>
        <li class="cs-li">
          <a href="/aktualnosci" class="cs-link">Aktualności</a>
        </li>
        <li class="cs-li">
          <a href="/#contact-569" class="cs-link">Kontakt</a>
        </li>
      </ul>

      <div class="cs-bottom">
        <!--Social-->
        <ul class="cs-social">
          <li class="cs-social-li">
            <a
              title="Sportus - profil na facebooku"
              href="https://www.facebook.com/sportus.gdansk/"
              class="cs-social-link"
              aria-label="facebook"
              target="_blank"
              rel="noopener"
              aria-labelledby="facebook-icon-title"
            >
              <title id="facebook-icon-title">Sportus - profil na facebooku</title>

              <svg
                class="cs-social-icon cs-default"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.60685 6.66413L8.91781 4.61655H6.9726V3.2884C6.9726 2.72808 7.24384 2.1816 8.11507 2.1816H9V0.438398C9 0.438398 8.19726 0.300049 7.43014 0.300049C5.8274 0.300049 4.78082 1.28095 4.78082 3.05597V4.61655H3V6.66413H4.78082V11.6143C5.13836 11.671 5.50411 11.7 5.87671 11.7C6.24932 11.7 6.61507 11.671 6.9726 11.6143V6.66413H8.60685Z"
                  fill="#BABABA"></path>
              </svg>
            </a>
          </li>
          <li class="cs-social-li">
            <!-- TODO: google business -->
            <a
              title="Sportus profil Google Business"
              href="google business here"
              class="cs-social-link"
              aria-label="twitter"
              target="_blank"
              rel="noopener"
              aria-labelledby="google-business-icon-title"
            >
              <svg
                fill="currentColor"
                class="cs-social-icon cs-default"
                width="12"
                height="12"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title id="google-business-icon-title">
                  Sportus profil Google Business
                </title>
                <polygon
                  class="a"
                  points="14.25 19.557 24 19.557 24 7.094 15.858 7.094 14.25 19.557"
                ></polygon><path
                  class="a"
                  d="M15.8582,7.0938H9.1424A2,2,0,0,0,7.2006,8.6145L4.5,19.5573h9.75"
                ></path><path class="a" d="M24,19.5573a4.875,4.875,0,0,1-9.75,0"
                ></path><path class="a" d="M14.25,19.5573a4.875,4.875,0,0,1-9.75,0"
                ></path><polygon
                  class="a"
                  points="33.75 19.557 24 19.557 24 7.094 32.142 7.094 33.75 19.557"
                ></polygon><path
                  class="a"
                  d="M32.1418,7.0938h6.7158a2,2,0,0,1,1.9418,1.5207L43.5,19.5573H33.75"
                ></path><path class="a" d="M24,19.5573a4.875,4.875,0,0,0,9.75,0"
                ></path><path class="a" d="M33.75,19.5573a4.875,4.875,0,0,0,9.75,0"
                ></path><path
                  class="a"
                  d="M7.3252,23.9768V38.9062a2,2,0,0,0,2,2h29.35a2,2,0,0,0,2-2V23.978"
                ></path><path
                  class="a"
                  d="M33.4991,33.5687h3.9566a3.9771,3.9771,0,0,1-3.88,4.0721l-.0768.0012a4.0733,4.0733,0,1,1,0-8.1466,4.011,4.011,0,0,1,2.02.5357"
                ></path></svg
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a href="/polityka-prywatnosci" class="cs-copyright-link">Polityka prywatności</a>
    <p class="cs-copyright">
      © Wszelkie prawa zastrzeżone {currentYear} - Sportuś
    </p>
  </div>
</footer>
