---
import { Image } from "astro:assets";
import "./history.css";
---

<div style="position: relative;">
  <section id="RTsbs-581">
    <div class="cs-container">
      <picture class="cs-picture">
        <Image
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg"
          alt="room"
          width="494"
          height="700"
        />
      </picture>
      <div class="cs-content">
        <h2 class="cs-title">Jak to sie wszystko zaczelo ?</h2>
        <p class="cs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="cs-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </section>

  <svg
    class="cs-bg"
    xmlns="http://www.w3.org/2000/svg"
    width="670"
    height="226"
    viewBox="0 0 670 226"
    fill="none"
    ><path
      d="M668 0C668 6.38072 668 12.0059 668 17.037C668 50.6155 668 67.4047 661.46 80.2394C655.708 91.5292 646.529 100.708 635.239 106.46C622.405 113 605.603 113 572 113H98C64.3968 113 47.5953 113 34.7606 119.54C23.4708 125.292 14.292 134.471 8.53961 145.761C2 158.595 2 175.397 2 209V226"
      stroke="hsl(342, 92%, 58%)"
      stroke-width="3"
      stroke-linejoin="round"
      stroke-dasharray="14 16"></path></svg
  >
</div>

<div style="position: relative;">
  <section id="RTsbsr-581">
    <div class="cs-container">
      <picture class="cs-picture">
        <Image
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg"
          alt="room"
          width="494"
          height="700"
        />
      </picture>
      <div class="cs-content">
        <span class="cs-topper cs-toppper-big">02.</span>
        <h2 class="cs-title">Jak to sie wszystko zaczelo ?</h2>
        <p class="cs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="cs-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </section>

  <svg
    class="cs-bg"
    xmlns="http://www.w3.org/2000/svg"
    width="670"
    height="226"
    viewBox="0 0 670 226"
    fill="none"
    ><path
      d="M2 0C2 6.38072 2 12.0059 2 17.037C2 50.6155 2 67.4047 8.53961 80.2394C14.292 91.5292 23.4708 100.708 34.7606 106.46C47.5953 113 64.3969 113 98 113H572C605.603 113 622.405 113 635.239 119.54C646.529 125.292 655.708 134.471 661.46 145.761C668 158.595 668 175.397 668 209V226"
      stroke="hsl(342, 92%, 58%)"
      stroke-width="3"
      stroke-linejoin="round"
      stroke-dasharray="14 16"></path></svg
  >
</div>

<div style="position: relative;">
  <section id="RTsbst-581">
    <div class="cs-container">
      <picture class="cs-picture">
        <Image
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg"
          alt="room"
          width="494"
          height="700"
        />
      </picture>
      <div class="cs-content">
        <span class="cs-topper">03.</span>
        <h2 class="cs-title">House Painting Contractors For Oak Harbor</h2>
        <p class="cs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="cs-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </section>
  <svg
    class="cs-bg"
    xmlns="http://www.w3.org/2000/svg"
    width="670"
    height="226"
    viewBox="0 0 670 226"
    fill="none"
    ><path
      d="M668 0C668 6.38072 668 12.0059 668 17.037C668 50.6155 668 67.4047 661.46 80.2394C655.708 91.5292 646.529 100.708 635.239 106.46C622.405 113 605.603 113 572 113H98C64.3968 113 47.5953 113 34.7606 119.54C23.4708 125.292 14.292 134.471 8.53961 145.761C2 158.595 2 175.397 2 209V226"
      stroke="hsl(342, 92%, 58%)"
      stroke-width="3"
      stroke-linejoin="round"
      stroke-dasharray="14 16"></path></svg
  >
</div>

<style>
  .cs-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1024px) {
    #RTsbs-581 + .cs-bg {
      display: none;
    }
    .cs-bg {
      height: 155px;
    }
  }

  @media (max-width: 769px) {
    .cs-bg {
      display: none;
    }
  }
</style>
