@media only screen and (min-width: 0rem) {
  #RTsbs-581,
  #RTsbsr-581,
  #RTsbst-581 {
    background-color: var(--primaryLight);
    position: relative;
  }
  #RTsbs-581 .cs-container,
  #RTsbsr-581 .cs-container,
  #RTsbst-581 .cs-container {
    background-color: var(--primaryLight);
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(3rem, 7vw, 4rem);
  }
  #RTsbs-581 .cs-content,
  #RTsbsr-581 .cs-content,
  #RTsbst-581 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    padding: var(--sectionPadding);
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #RTsbs-581 .cs-text,
  #RTsbsr-581 .cs-text,
  #RTsbst-581 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-581 .cs-text:last-of-type,
  #RTsbsr-581 .cs-text:last-of-type,
  #RTsbst-581 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-581 .cs-button-solid,
  #RTsbsr-581 .cs-button-solid,
  #RTsbst-581 .cs-button-solid {
    font-size: 1rem;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--white);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }
  #RTsbs-581 .cs-button-solid:before,
  #RTsbsr-581 .cs-button-solid:before,
  #RTsbst-581 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primaryDark);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RTsbs-581 .cs-button-solid:hover:before,
  #RTsbsr-581 .cs-button-solid:hover:before,
  #RTsbst-581 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-581 .cs-picture,
  #RTsbsr-581 .cs-picture,
  #RTsbst-581 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #RTsbs-581 .cs-picture img,
  #RTsbsr-581 .cs-picture img,
  #RTsbst-581 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    border: 5px solid var(--white);
    object-position: right;
  }

  #RTsbs-581 .cs-picture img {
    object-position: center;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-581,
  #RTsbsr-581,
  #RTsbst-581 {
    padding: var(--sectionPadding);
  }
  #RTsbs-581 .cs-container,
  #RTsbsr-581 .cs-container,
  #RTsbst-581 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #RTsbs-581 .cs-content,
  #RTsbsr-581 .cs-content,
  #RTsbst-581 .cs-content {
    width: 53%;
    padding: 0;
  }
  #RTsbs-581 .cs-picture,
  #RTsbsr-581 .cs-picture,
  #RTsbst-581 .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    height: clamp(32.375rem, 63vw, 43.75rem);
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbsr-581 .cs-container {
    justify-content: flex-end;
  }
  #RTsbsr-581 .cs-content {
    /* sends it to the left in the first position */
    order: -1;
  }
  #RTsbsr-581 .cs-picture {
    margin: 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem) 0;
  }
}
