#blog-1540 .cs-item {
  text-align: left;
  list-style: none;
  padding: clamp(1rem, 3vw, 1.5rem);
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid #e8e8e8;
  border-radius: 2.5rem;
  grid-column: span 12;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: border-color 0.3s;
}
#blog-1540 .cs-item:hover {
  border-color: var(--primary);
  box-shadow: 2px 2px 2px var(--primaryDark);
}
#blog-1540 .cs-link {
  text-decoration: none;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#blog-1540 .cs-picture-group {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}
#blog-1540 .cs-picture {
  width: 100%;
  height: clamp(12.5rem, 45vw, 21.25rem);
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: none;
}
#blog-1540 .cs-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition:
    transform 0.6s,
    opacity 0.3s;
}
#blog-1540 .cs-mask {
  --maskBG: var(--white);
  --maskBorder: #e8e8e8;
  width: 101%;
  height: 101%;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
}
#blog-1540 .cs-flex {
  margin: 0 0 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
#blog-1540 .cs-tag::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}
#blog-1540 .cs-date {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
#blog-1540 .cs-item-text {
  font-size: 1rem;
  color: var(--black);
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
#blog-1540 .cs-h3 {
  font-size: clamp(1.25rem, 2vw, 1.5625rem);
  color: var(--black);
  font-weight: 700;
  line-height: 1.2em;
  text-align: inherit;
  margin: 0 0 0.5rem 0;
  transition: color 0.3s;
}
#blog-1540 .cs-bottom {
  margin: 1.5rem 0 0 0;
  padding: 1.5rem 0 0 0;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
#blog-1540 .cs-author-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
#blog-1540 .cs-profile {
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid #bababa;
  background-color: #bababa;
  border-radius: 50%;
  /* clips image corners to make circle */
  overflow: hidden;
  position: relative;
  display: block;
}
#blog-1540 .cs-profile img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#blog-1540 .cs-name {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0;
  display: block;
}
#blog-1540 .cs-wrapper {
  width: 3rem;
  height: 3rem;
  border: 1px solid #bababa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 64rem) {
  #blog-1540 .cs-picture {
    height: 12.5rem;
  }
  #blog-1540 .cs-item {
    grid-column: span 4;
  }
}
